.MainContentCont{
  padding: 20px;
  margin-top: 80px;
}

.HomePageParent{
  position: absolute;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  bottom: 0;
  right: 0;
}

.HomePageCont{
  position: absolute;
  padding: 30px;
  left: 23vw;
  top: 35vh;
}

.ContentCard{
  padding: 30px;
}

.ProjectCard{
  height: 100%;
}

.ProjectCardContent{
  padding: 20px;
}

.ProjectCardTextContent{
  padding-top: 12px;
}

.ContentCardHeadIcon{
  margin-right: 15px;
  margin-top: -4px;
  float: left;
}

.SkillsContainer{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.ToolsContainer{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.SkillSlider{
  padding-bottom: 6px;
}

.ProjectCardIcon{
  float: left;
  margin-right: 10px;
  width: 46px;
  height: 46px;
}

.ProjectIconColor path{
  fill: currentColor;
}

.BannerShortcutsCont{
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.PlatformIcon{
  padding-left: 7px;
  padding-top: 5px;
}

.RoleIcon{
  float: right;
  margin-top: 3px;
}

.ViewLink{
  padding: 3px;
  float: right;
  clear: both;
  opacity: 0.9;
}

.ProjectRightText{
  float: left;
  padding-right: 4px;
  padding-top: 4px;
}

.ProjectHeadLeft{
  float: left;
}

.ToolsText{
  padding-right: 43.95px;
}

.BuiltCont{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100000;
}

.PrivacyText{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.BannerLeft{
  position: absolute;
  float: left;
  height: 100%;
}

.BannerRight{
  position: absolute;
  float: right;
  height: 100%;
}

.BannerDots{
  position: absolute;
  top: 290px;
}

.BannerImg{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 320px;
  transition: opacity 0.5s ease;
}

.DownloadFAB{
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 24px;
}