.MainContentCont{
  padding: 20px;
  margin-top: 80px;
  width: 100%;
}

.HomePageParent{
  position: absolute;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  bottom: 0;
  right: 0;
}

.HomePageTextMain{
  margin-left: -150px;
  padding-right: 100px;
}

.HomePageCont{
  position: absolute;
  padding: 200px;
  left: 24vw;
  top: 17vh;
  background-image: linear-gradient(30deg, #ff77a4, #ca68ff);
  background-blend-mode: normal;

  border-radius: 30px;
  overflow: hidden;
  filter: drop-shadow(20px 20px 40px #ca68ff);
}

.HomePageCircle1{
  position: absolute;
  left: 10vw;
  top: 10vh;
  width: 40vh;
  height: 40vh;
  border-radius: 100vw;
  background-image: linear-gradient(30deg, #6eb9ef, #62dbaf);
  background-blend-mode: normal;
  filter: drop-shadow(0px 0px 4px #62dbaf);
  transition: all 1s ease-out;
}

.HomePageCircle2{
  position: absolute;
  left: 20vw;
  top: -5vh;
  width: 30vh;
  height: 30vh;
  border-radius: 100vw;
  background-image: linear-gradient(30deg, #ca68ff, #6eb9ef);
  background-blend-mode: normal;
  filter: drop-shadow(0px 0px 4px #ca68ff);
  transition: all 1s ease-out;
}

.HomePageCircle3{
  position: absolute;
  left: 6vw;
  top: 40vh;
  width: 20vh;
  height: 20vh;
  border-radius: 100vw;
  background-image: linear-gradient(30deg, #fff268, #ff77a4);
  background-blend-mode: normal;
  filter: drop-shadow(0px 0px 4px #ff77a4);
  transition: all 1s ease-out;
}

.ContentCard{
  padding: 30px;
  height: 100%;
}

.ProjectCard{
  height: 100%;
}

.ProjectCardContent{
  padding: 20px;
}

.ProjectCardTextContent{
  padding-top: 12px;
}

.ProjectCardSubheader{
  padding-left: 57px;
}

.ContentCardHeadIcon{
  margin-right: 15px;
  margin-top: -4px;
  float: left;
}

.SkillsContainer{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.ToolsContainer{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.SkillSlider{
  padding-bottom: 6px;
}

.SkillsListIcon{
  text-align: center;
}

.Hoverable:hover{
  transition: 0.25s;
}

.ProjectCardIcon{
  float: left;
  margin-right: 10px;
  width: 46px;
  height: 46px;
}

.IconColor path{
  fill: currentColor;
}

.BannerShortcutsCont{
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.PlatformIcon{
  padding-left: 7px;
  padding-top: 5px;
}

.RoleIcon{
  float: right;
  margin-top: 3px;
}

.ViewLink{
  padding: 3px;
  float: right;
  clear: both;
  opacity: 0.9;
}

.ProjectRightText{
  float: left;
  padding-right: 4px;
  padding-top: 4px;
}

.ProjectHeadLeft{
  float: left;
}

.ToolsText{
  padding-right: 43.65px;
}

.BuiltCont{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.PrivacyText{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 14px 14px 14px;
}

.BannerLeft{
  position: absolute;
  height: 100%;
}

.BannerRight{
  position: absolute;
  float: right;
  height: 100%;
}

.BannerDots{
  position: absolute;
  top: 290px;
}

.BannerImg{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 320px;
  transition: opacity 0.5s ease;
}

.DownloadFAB{
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 24px;
}

.ContactForm{
  padding-top: 10px;
  margin-bottom: -10px;
}

.ContactContentCont{
  padding: 20px 15px 5px 15px;
  vertical-align: middle;
}
