.MainContentCont{
  padding: 40px;
  margin-top: 80px;
}

.ContentCard{
  padding: 30px;
}

.ProjectCard{
  min-height: 620px;
}

.ProjectCardContent{
  padding: 20px;
}

.ProjectCardTextContent{
  padding-top: 12px;
}

.ContentCardHeadIcon{
  margin-right: 15px;
  margin-top: -4px;
  float: left;
}

.SkillsContainer{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.SkillSlider{
  padding-bottom: 6px;
}

.SkillRowCont{
  padding: 8px;
}

.ProjectCardIcon{
  float: left;
  margin-right: 10px;
  width: 46px;
  height: 46px;
}

.BannerShortcutsCont{
  padding: 10px;
  float: right;
}

.PlatformIcon{
  padding-left: 7px;
  padding-top: 5px;
}

.ViewLink{
  padding: 3px;
  float: right;
  clear: both;
  opacity: 0.9;
}

.RoleText{
  float: left;
  padding-right: 2px;
  padding-top: 4px;
}

.PlatformCont{
  float: left;
}
