/*Custom scrollbar*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.Sidebar{
  height: 100%;
}

.SidebarHead{
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 30px;
}

.SidebarIconHead{
  width: 90px;
  height: 90px;
  float: left;
  margin-left: 20px;
  margin-top: -16px;
}

.AppbarIcon{
  float: right;
  padding: 15px;
}

.AppbarText{
  width: 100%;
  padding-left: 16px;
}

.SideListItem{
  padding: 10px;
}

.fade-enter{
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 250ms ease-in;
}


