.Sidebar{
  background-color: #342E37;
  height: 100%;
}

.SidebarHead{
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 30px;
}

.SidebarIconHead{
  width: 90px;
  height: 90px;
  float: left;
  margin-left: 20px;
  margin-top: -16px;
}

.AppbarIcon{
  float: right;
  padding: 15px;
}

.AppbarText{
  width: 100%;
  padding-left: 16px;
}


