.HomeContainer{
  background-color: #31393C;
}

.Sidebar{
  background-image: linear-gradient(to right,#31393C 20%,#31393C 100%);
  background-blend-mode: normal;
  width: 350px;
  height: 100%;
}

.SidebarHead{
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.SidebarIconHead{
  width: 90px;
  height: 90px;
  float: left;
  margin-left: 20px;
  margin-top: -16px;
}

.AppbarIcon{
  float: right;
}